/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #cde7f7;
   
  }

  #Challenge {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #ffffff;
    background-color: hsl(45, 100%, 92%);
    text-align:start
  }
  pre {
    text-align: center;
    white-space: pre-wrap;
    word-break: keep-all
}

